CREATE OR REPLACE FUNCTION public.finance_dashboard_snapshot(p_start date DEFAULT NULL::date, p_end date DEFAULT NULL::date, p_marketplace text DEFAULT NULL::text, p_account_id uuid DEFAULT NULL::uuid)
 RETURNS jsonb
 LANGUAGE plpgsql
 STABLE SECURITY DEFINER
 SET search_path TO 'public'
 SET statement_timeout TO '20s'
AS $function$
declare
  v_base jsonb;
begin
  v_base := public.finance_dashboard_snapshot_base_20260623(
    p_start, p_end, p_marketplace, p_account_id
  );

  return public.finance_snapshot_order_omzet_settlement_overlay_20260623(
    v_base, p_start, p_end, p_marketplace, p_account_id
  );
end;
$function$

